<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>LOTTO</title>
</head>
<body>
    <h1>YOUR LUCKY NO.</h1>
    <!-- # 줄 라우터 #-->
    <form action="/lotto_result">
        로또회차: <input type="number" name='round'><br />
        로또번호: <input type="text" name="numbers"><br />
        <button type="submit" style="scale: 50">submit</button>

    </form>
</body>
</html>